<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

    <!-- navigatin bar -->

    <app-nav-bar></app-nav-bar>

    <!-- registration form  -->
    
    <div class="box1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <h1>Registration Form</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="showUserForm">
                    <div>
                        <form #registerMap="ngForm" (ngSubmit)="collectUserData(registerMap)">

                            <div class="row mb-3">
                                <label for="pp" class="col-sm-2 col-form-label">Upload Profile Pic</label>
                                <div class="col-sm-10">
                                  <input type="file" (change)="onSelect($event)" name="pp" id="pp" class="form-control" ngModel>
                                </div>
                              </div>

                            <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label">Full name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" name="name" ngModel>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" name="email" ngModel>
                                </div>
                            </div>
           

                            <div class="row mb-3">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3" name="password"
                                        ngModel>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="gender" class="col-sm-2 col-form-label">Gender</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="gender" ngModel id=gender
                                        aria-label="Default select example">
                                        <option selected>select</option>
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Female</option>
                                    </select>
                                </div>
                            </div>

                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Profile</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="profile" ngModel
                                            id="gridRadios1" value="TEACHER" #teacher="ngModel">
                                        <label class="form-check-label" for="gridRadios1">
                                            Teacher
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="profile" ngModel
                                            id="gridRadios2" value="STUDENT" #student="ngModel">
                                        <label class="form-check-label" for="gridRadios2">
                                            Student
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </tr>

                <!-- if registraion is for teacher than it will show this section which include addTeacher component -->
                <tr *ngIf="showTeacherForm">   
                    <app-add-teacher [user]="user" [pp]="pp"></app-add-teacher>
                </tr>

                
            </tbody>
        </table>
    </div>
    <app-footer></app-footer>
</body>

</html>
