<!-- student Data form -->
<!-- <div style="padding: 20px;">
  <form #studentData="ngForm" (ngSubmit)="onSubmit(studentData)">
  <div class="row">
    <label for="studentName" class="col-sm-2 col-form-label">Student Name</label>
    <div class="col-sm-6">
      <input type="text" name="studentName" id="studentName" class="form-control" ngModel>
    </div>
  </div>
  <br>
  <div class="row">
    <label for="dob" class="col-sm-2 col-form-label">Date Of Birth</label>
    <div class="col-sm-6">
      <input type="date" name="dob" id="dob" class="form-control" ngModel>
    </div>
  </div>
  <br>
  <div class="row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-6">
      <input type="email" name="email" id="email" class="form-control" ngModel>
    </div>
  </div>
  <br>
  <div class="row">
    <label for="gender" class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-10">
      <select class="form-select" name="gender" ngModel id=gender aria-label="Default select example">
        <option selected>select</option>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row mb-3">
    <label for="address" class="col-sm-2">Address</label>
    <div class="col-sm-10" id="address">
      <div class="col-sm-5">
        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="city" name="city" ngModel>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="state" class="col-sm-2 col-form-label">State</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="state" id="state" ngModel>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row mb-3">
    <label for="phone" class="col-sm-2 col-form-label">Phone no</label>
    <div class="col-sm-10">
      <input type="text" name="phone" id="phone" class="form-control" ngModel>
    </div>
  </div>
  <div style="text-align: center;">
    <input type="submit" value="Add" class="btn btn-primary">
  </div>
</form>
</div> -->


<div class="col-lg-6" style="margin-top: 20px;">
  <form #studentData="ngForm" (ngSubmit)="onSubmit(studentData)" class="needs-validation" novalidate>
  
     <div class="form-group">
      <input type="text" name="studentName" id="studentName" class="form-control" placeholder="Student Name" ngModel required #studentName="ngModel">
      <span class="help-block" *ngIf="!studentName.valid && studentName.touched">Please enter student name</span>
     </div>
      <div class="form-group">
        <input type="date" name="dob" id="dob" class="form-control" placeholder="select date of birth" ngModel required #dob="ngModel">
          <span class="help-block" *ngIf="!dob.valid && dob.touched">Please select date of birth</span>
      </div>
   
    <div class="form-group">
      <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="enter email" ngModel required email #email="ngModel">
      <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
     
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="your password" ngModel required #password="ngModel">
      <span class="help-block" *ngIf="!password.valid && password.touched">Please enter your password</span>
    </div>
    <div class="form-group">
      <select class="form-select form-select-md" name="gender" ngModel id=gender required #gender="ngModel">
      <option value="" selected>select gender</option>
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
      </select>
      <span class="help-block" *ngIf="!gender.valid && gender.touched">Please select gender</span>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="city" name="city" placeholder="Enter city" ngModel required #city="ngModel">
      <span class="help-block" *ngIf="!city.valid && city.touched">Please enter city</span>
     
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="state" id="state" placeholder="Enter state" ngModel required #state="ngModel">
          <span class="help-block" *ngIf="!state.valid && state.touched">Please enter state</span>
    </div>
    <div class="form-group">
      <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter phone number" ngModel required #phone="ngModel">
      <span class="help-block" *ngIf="!phone.valid && phone.touched">Please enter your number</span>
    </div>
    
    
    
    <div class="text-center"><button [disabled]="!studentData.valid" type="submit" class="btn btn-primary">Add</button></div>
  </form>
</div>