<!-- navigation bar -->
<app-nav-bar></app-nav-bar>

<!-- it will show request from student to hire teacher -->
<!-- <button (click)="hireRequest()">notification</button>
<app-hire-request-list *ngIf="showHireRequest"></app-hire-request-list> -->

<!-- whenever teacher register himself request will show here to verified him as teacher -->
<!-- <button (click)="newApplication()">New Application</button>
<app-job-applications *ngIf="showApplications"></app-job-applications> -->
<div class="container" style="margin-bottom: 300px;">
  <div class="row">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a (click)="hireRequest()" class="nav-link" id="notification-tab" data-bs-toggle="tab" role="tab" aria-controls="notification" aria-selected="true" style="cursor: pointer;">notification</a>
      </li>
      <li class="nav-item" role="presentation">
        <a (click)="newApplication()" class="nav-link" id="newApplication-tab" data-bs-toggle="tab" role="tab" aria-controls="newApplication" aria-selected="false" style="cursor: pointer;">New Application</a>
      </li>
  </ul>
  </div>
  <div class="row">
    <app-hire-request-list *ngIf="showHireRequest"></app-hire-request-list>
  </div>
  <div class="row">
    <app-job-applications *ngIf="showApplications"></app-job-applications>
  </div>


   
</div>

<app-footer></app-footer>