<app-nav-bar></app-nav-bar>
<div class="box">
    <div style="margin-left: 792px;margin-top: 10px;padding: 7px; color:beige; "><p>To use our facility register here</p></div>
     <div style="margin-left:5px; ">
       <a class="btn btn-primary" style=" margin-top: 10px;background-color: #98bef7;"href="http://localhost:4200/register">Register</a>
     </div>
</div>
<div class="fullbox">
  
  <div class="col-md-4 offset-md-4 align-self-center" style="color: rgb(7, 1, 1); background: rgba(233, 230, 230, 0.3);">
    <h1>
      Search tutor on One Click
    </h1>
    <a href="http://localhost:4200/register" class="btn btn-primary">Register Now</a>
  </div>
</div>
