 <!-- this is child component of student Detail component -->
    <!-- <p class="alert alert-primary" role="alert" *ngIf="!teachers">No teachers</p> -->
    
    <ul class="list-group" *ngIf="teachers">
        
        <li class="list-group-item" *ngFor="let item of teachers">
            <span class="font-weight-bold">{{item.teacherName}}</span>
            <br><br>
            <button class="btn btn-primary" (click)="confirmStatus(item.id)">Approve</button>
            <button style="margin-left: 10px;" class="btn btn-primary" (click)="reject(item.id)">Reject</button>
        </li>
    </ul>
    <!-- <p class="alert alert-primary" role="alert" *ngIf="!teacherCourse">No Courses</p> -->
    <ul class="list-group" *ngIf="teacherCourse">
        <li class="list-group-item">
            
            <span class="font-weight-bold">Name: {{teacherCourse.teacher.teacherName}}</span>
            <br><br>
            <span>Ragistered Course:{{teacherCourse.course.courseName}}</span>
            <br>
            <button class="btn btn-primary" (click)=" confirmTeacherCourseStatus(teacherCourse.id)">Approve</button>
            <button style="margin-left: 10px;" class="btn btn-primary" (click)="rejectTeacherCourse(teacherCourse.id)">Reject</button>
        </li>
    </ul>


