<!-- <footer class="bg-light text-center text-lg-start"> -->
    <!-- Copyright -->
    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="http://localhost:4200/">tutorsearch.com</a>
    </div> -->
    <!-- Copyright -->
  <!-- </footer> -->

  <div class="block app-block-footer">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Creators</h6></li>
            <li>Paranav Kumar Chaudhary</li>
            <li>Pradnya Vilas Katigar</li>
            <li>Piyush Nitin Shah</li>
            <li>Shubham Joshi</li>
            <li>Nazym</li>
            <li>Samal</li>
          </ul>
        </div>
        <div class="col-sm-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Special Thanks</h6></li>
            <li>Suleman Soudagar - Project Guide</li>
          </ul>
        </div>
         <div class="col-sm-6">
          <h6 class="text-uppercase"></h6>
          <p></p>
        </div>
      </div>
    </div>
  </div>