<!-- <footer class="bg-light text-center text-lg-start"> -->
    <!-- Copyright -->
    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="http://localhost:4200/">tutorsearch.com</a>
    </div> -->
    <!-- Copyright -->
  <!-- </footer> -->

  <div class="block app-block-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Products</h6></li>
            <li>Todo</li>
            <li>Calendario</li>
            <li>Email Town</li>
            <li>Pomodorotary</li>
            <li>ChillTower</li>
          </ul>
        </div>
        <div class="col-sm-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Extras</h6></li>
            <li>AutotuneU</li>
            <li>Freestyler</li>
            <li>Chillaxation</li>
          </ul>
        </div>
        <div class="col-sm-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Support</h6></li>
            <li>Online Support</li>
            <li>Telephone Sales</li>
            <li>Help Desk</li>
            <li>Workshops</li>
          </ul>
        </div>
         <div class="col-sm-6">
          <h6 class="text-uppercase">About</h6>
          <p>Shoutout to Invision team for creating the <a href="http://www.invisionapp.com/do">Do UI kit</a> that we used to fake our app screenshots. Also to the Dribbble community for providing phone mockups that look amazing.</p>
        </div>
      </div>
    </div>
  </div>