.contactUs{
    position: absolute ;
    display: flex;
    margin-top: 5px;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.contactUs:hover{
    cursor: pointer;
}
.contactUs:active{
    background-color: rgba(202, 190, 142, 0.863);
    color: rgb(156, 4, 34);
    border: 1px solid rgba(250, 215, 74, 0.746);
    border-radius: 5px;  
    z-index: 1;
    cursor: pointer;
}