<app-nav-bar></app-nav-bar>
<div class="container border" style="margin-top: 50px ;">
      <div class="row" >
          <div class="col-sm-4">
              <div *ngIf="imageData">
                  <img [src]="imageData" height="260px" width="260px" style="border-radius: 130px;" >
              </div>
              <div *ngIf="teacher" class="box">
                 <h4>Id: {{teacher[0].id}}</h4><h4>{{teacher[0].teacherName}}</h4>
                 <h4>Per Hour Fee: {{teacher[0].perHourFees}}</h4>
                 <h4>Current Rating: {{teacher[0].rate}}</h4>
                 <h4>Joining Date: {{teacher[0].joiningDate}}</h4>
              </div>
            </div>
          <div class="col-sm-8">
            <div *ngIf="teacher[0].status; else elseBlock">
                <div class="row" >
                  <!-- <div class="col-sm-6" style="justify-content: center; border-right: 1px solid black;">
                    <button (click)="studentList()"
                      style="border: none; background-color: transparent;  font-family : 'Roboto Mono', monospace; font-size: x-large;">Student List
                      </button>
                  </div>
                  <div class="col-sm-6">
                    <button (click)="studentListNewJob()"
                      style="border: none; background-color: transparent; font-family : 'Roboto Mono', monospace; font-size: x-large;">
                      New Job</button>
                  </div> -->
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a (click)="studentList()" class="nav-link" routerLinkActive="active" id="studentList" data-bs-toggle="tab" role="tab" aria-controls="studentList" aria-selected="true" style="cursor: pointer;">Student List</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a (click)="studentListNewJob()" class="nav-link" routerLinkActive="active" id="newJob" data-bs-toggle="tab" role="tab" aria-controls="newJob" aria-selected="false" style="cursor: pointer;">New Job</a>
                    </li>
                  </ul>
                </div>

                <!-- student list -->
                <div style="height: 560px; display: flex;  margin-top: 70px;" *ngIf="students && showStudentList">
                  <table class="table">
                  <h2>Student List</h2>
                      <tbody>
                          <tr *ngFor="let item of students">
                        <td>{{item.studentName}}</td>
                        <td>{{item.dob}}</td>
                        <td>{{item.email}}</td>
                        <td><button class="btn btn-primary" (click)="studentDetail(item.id)">Detail</button></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- new Job  -->
                  <div style="height: 560px; display: flex;  margin-top: 70px;" *ngIf="newJob && showNewJob">
                    <table class="table">
                    <h2>Student List</h2>
                        <tbody>
                            <tr *ngFor="let item of newJob">
                          <td>{{item.studentName}}</td>
                          <td>{{item.dob}}</td>
                          <td>{{item.email}}</td>
                          <td><button class="btn btn-primary" (click)="studentDetail(item.id)">Detail</button></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
            </div>
            <ng-template #elseBlock>Not comfirmed yet</ng-template>
          </div>
      </div>
  </div>
  <app-footer></app-footer>