<h1>DashBoard</h1>



<br>
<br>
<br>
<div>
    <li *ngFor="let student of students">
        <span>{{student.studentName}}</span>| |
        <span>{{student.dob}}</span>| |
        <span>{{student.email}}</span>
    </li>
</div>
<button (click)="getStudentsDetail()">List</button>
<br>
<hr>
<br>
<p>Serach Student By Id</p>
<form #formdata1="ngForm" (ngSubmit)="onSubmitId(formdata1)">
    Enter Student id :<input type="text" name="id" id="id" ngModel><br>
    <input type="submit" value="search">
</form>
<div>
    <span>{{student1.studentName}}</span>| |
    <span>{{student1.dob}}</span>| |
    <span>{{student1.email}}</span>
</div>
<br>
<br>
<p>Enter Student Details</p>
<form #formdata2="ngForm" (ngSubmit)="onSubmit(formdata2)">
    <input type="text" name="studentName" id="name" ngModel><br>
    <input type="email" name="email" id="email" ngModel><br>
    <input type="date" name="dob" id="dob" ngModel><br>
    <input type="submit">
</form>
{{saveStudent}}
