<div *ngIf="student">
    <p>{{student.studentName}}</p>
</div>

<!-- searche teacher by entering subject name -->
<!-- === here we can dynamically fech the subjects  and show to user ot restrict them entring out of scope subj -->
<form #formref="ngForm" (ngSubmit)="getTeachers(formref)">
    Enter your subject:
    <input type="text" name="subject" ngModel><br>
    <input type="submit" value="Serach">
</form>
<ul>
    <li *ngFor="let item of teachers">
        <span>{{item.id}} </span>
        <span>{{item.teacherName}} </span>
        <span>{{item.email}} </span>
        <span>{{item.age}} </span>
        <button (click)="hireTeacher(item.id)">Hire</button>
    </li>
</ul>

<!-- child component hired Teacher List for the student -->
<div *ngIf="student">
    <app-hired-teacher-list [studentId]="student.id"></app-hired-teacher-list>
</div>