<div *ngIf="student">
<p>{{student.studentName}}</p>
</div>
<form #formref="ngForm" (ngSubmit)="getTeachers(formref)">
    Enter your subject:
    <input type="text" name="subject" ngModel><br>
    <input type="submit" value="Serach">
</form>
<ul>
    <li *ngFor="let item of teachers">
        <span>{{item.id}} </span>
        <span>{{item.teacherName}} </span>
        <span>{{item.email}} </span>
        <span>{{item.age}} </span>
        <button (click)="addTeacher(item.id)">Hire</button>
    </li>
</ul>


<div *ngIf="student">
    <app-hired-teacher-list [studentId]="student.id"></app-hired-teacher-list>
</div>