<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="ERROR_LOG" value="logs/error.log" />
	<property name="INFO_LOG" value="logs/info.log" />

	<appender name="FILE-ROLLING-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${ERROR_LOG}</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/error.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-ROLLING-INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${INFO_LOG}</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/info.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="com.app" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.app.controller" level="info"
		additivity="false">
		<appender-ref ref="FILE-ROLLING-INFO" />
	</logger>

	<root level="error">
		<appender-ref ref="FILE-ROLLING-ERROR" />
	</root>

</configuration>